$text: #533738;
$white: #FFFFFF;
$input-text: #F6EDE9;


$bg: #EFE6E4;
$bg-team: #E2C4BA;
$bg-button: #CC8B86;
$bg-about-us: #8D7370;
$bg-form: #8D7370;

$bg-number: #8D7370;

$font: 'Montserrat', "Arial", sans-serif;
$desktop: 1024px;
