.form {
  background-color: $bg-form;
  margin-bottom: 37px;
}

.form__wrapper {
  display: grid;
  grid-template-columns: 507px 590px;
  column-gap: 20px;
  padding-left: 182px;
  min-height: 624px;
}

.form__input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid $white;
  color: $input-text;
  width: 100%;
  min-height: 35px;

  &--name {
    margin-bottom: 35px;
  }

  &--phone {
    margin-bottom: 31px;
  }
}

.form__input::placeholder {
  color: $input-text;
  font-size: 18px;
  line-height: 30px;
}

.form__submit {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
