.header {
  background-image: url(/src/img/vysotskaya.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 100%;
}

.header__wrapper {
  padding: 38px 30px 138px 30px;

  @media (min-width: $desktop) {
    min-height: 29px;
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 38px 100px 0 134px;
  }

}

.header__logo {
  padding-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding-top: 0;
  }

  a {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
    color: $text;
    width: 90px;
  }

  .header__logo-text {
    margin: 0;
  }
}
