.our-works {
  margin-bottom: 65px;
}

.our-works__wrapper {

  @media (min-width: $desktop) {
    min-height: 1100px;
    padding: 0 100px;
  }
}

.our-works__list {
  @include clear-list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  column-gap: 20px;
  row-gap: 30px;
}

.our-works__title {
  text-align: center;
  line-height: 50px;
  margin-bottom: 40px;

  @media (min-width: $desktop) {
    text-align: start;
  }
}

.our-works__link {
  position: relative;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  display: block;
  color: $text;
  text-decoration: none;

    &::after {

      @media (min-width: $desktop) {
        position: absolute;
        content: "";
        width: 61px;
        height: 15px;
        background-image: url(/src/img/arrow.svg);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 70%;
        display: block;
      }
  }
}

.our-works__list-item {
  flex: auto;
}

.our-works__list-item:first-child {
  position: relative;
}

.our-works__img {
  height: 225px;

  @media (min-width: $desktop) {
    height: auto;
  }
}

.our-works__img-hover {
  height: 225px;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  &:hover {
    display: none;
  }

  @media (min-width: $desktop) {
    height: auto;
  }
}
