.request__title {
  padding-top: 50px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 50px;
  color: $white;
  font-weight: 400;
}

.request__text {
  margin: 0;
  margin-bottom: 44px;
  width: 412px;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.6;
}
