.reviews__wrapper {
  position: relative;
  padding-bottom: 65px;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: auto 407px;
    justify-content: center;
  }
}


.reviews__button {
  position: absolute;
  background-color: $bg-button;
  border-radius: 5px;
  cursor: pointer;
  transform: translate(-50% -50%);
  border: none;
  height: 25px;
  width: 50px;
  bottom: 20px;

  @media (min-width: $desktop) {
    top: 50%;
    border-radius: 50%;
    height: 72px;
    width: 72px;
  }

  &::after {
    content: "";
    width: 32px;
    height: 15px;
    color: $white;
    position: absolute;
    background-image: url(/src/img/arrow-button.svg);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  &--prev {
    left: 11%;
    transform: rotate(180deg);

    @media (min-width: $desktop) {
      left: 0;
    }
  }

  &--next {
    right: 11%;
  }

  @media (min-width: $desktop) {
    right: 0;
  }
}



.reviews__title {
  grid-column: 1/-1;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.reviews__text {
  align-self: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $desktop) {
    width: 407px;
    grid-column: 1/1;
    margin-bottom: 0;
  }
}

.reviews__picture {
  margin: 0;
  grid-column:  2/-1;

  img:last-child {
    margin-bottom: 0;
  }

  img {
    margin-bottom: 30px;

    @media (min-width: $desktop) {
      margin-bottom: 0;
      width: 407px;
      min-height: 272px;
    }
  }
}
