.team {
  background-color: $bg-team;
  margin-bottom: 65px;
}

.team__wrapper {
  padding: 50px 0 0 0;
  min-height: 998px;
}

.team__cards-wrapper {
  padding: 0 182px 65px 182px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.team__cards-item {
  min-height: 443px;
  max-width: 320px;

  img {
    width: 320px;
    height: 253px;
    margin-bottom: 10px;
  }

  h6 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
}

.team__title {
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

//How-works

.team__works-title {
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.team__works-list {
  @include clear-list;
  display: flex;
  column-gap: 20px;
  align-items: center;
  text-align: center;
  padding:  0 99px;

  span {
    position: relative;
    display: inline-block;
    line-height: 30px;
    font-size: 30px;
    color: $white;
    z-index: 10;
    margin-bottom: 40px;

    &::before {
      display: block;
      z-index: -1;
      position: absolute;
      content: "";
      width: 70px;
      height: 70px;
      background-color: $bg-number;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }

  p {
    margin: 0;
    width: 285px;
  }
}
